/bin/
/target/
/.settings/
/demos/*/target/fungus-temp/
/demos/*.*/target/fungus-temp/
/demos/**/target/fungus-temp/
/demos/*/target/maven-archiver/
/demos/*.*/target/maven-archiver/
/demos/**/target/maven-archiver/
/demos/*/target/maven-status/
/demos/*.*/target/maven-status/
/demos/**/target/maven-status/
/demos/*/target/classes/
/demos/*.*/target/classes/
/demos/**/target/classes/

/demos/*/target/*/WEB-INF/
/demos/*.*/target/*.*/WEB-INF/
/demos/**/target/**/WEB-INF/
bin/