/bin/
/target/extras/
/target/generated-sources/
/target/gwt/
/target/gwt-tests/
/target/gwt-unitCache/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/target/*.war
/.settings/