/bin/
/target/extras/
/target/generated-sources/
/target/gwt/
/target/gwt-test/
/target/gwt-unitCashe/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/target/*.war
/.settings/